html {
    background-color: rgba(122, 191, 191, .5);

}

body {
    width: 414px;
    background-color: #F2F2F2;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a, nav span, menu li, #social li, footer {
    font-size: 20px;
}

h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', sans-serif;
}

p, dd, li, nav, input, dt {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

dt {
    font-weight: bold;
}

#sideDish {
    background-color: #7ABFBF;
}

nav h2 {
    visibility: hidden;
}


ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;








@media screen and (min-width:768px) {
    body {
        width: 768px;
    }
}




@media screen and (min-width:1280px) {
    body {
        width: 1280px;
    }
}