html {
    background-color: rgba(122, 191, 191, .5);

}

body {
    width: 414px;
    background-color: #F2F2F2;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a, nav span, menu li, #social li, footer {
    font-size: 20px;
}

h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', sans-serif;
}

p, dd, li, nav, input, dt {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

dt {
    font-weight: bold;
}

#sideDish {
    background-color: #7ABFBF;
}

nav h2 {
    visibility: hidden;
}

#sideDishes {
    background-color: #7ABFBF;
}


@media screen and (min-width:768px) {
    body {
        width: 768px;
    }
}




@media screen and (min-width:1280px) {
    body {
        width: 1280px;
    }
}